

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Musicstore a Entertainment Category Flat Responsive web template | Favorites :: W3layouts</title>
    <link href="~/content/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="~/js/bootstrap.js"></script>
    <link href="~/CSS/bootstrap.css" rel="stylesheet" />
    <script src="../js/jquery-2.1.4.js"></script>
</head>
<body>
    <!---start-wrap--->
    <div class="wrap">
        <!---start-header--->
        <div class="header">
            <!---start-top-header--->
            <div class="top-header">
                
                <div class="clear"> </div>
            </div>

            <div class="clear"> </div>
            <div class="sub-header">
                <div class="logo">
                    <a href="index.html"><img src="../images/logo.png" title="logo" /></a>
                </div>
                <div class="sub-header-center">
                    <form>
                        <input type="text"><input type="submit" value="search" />
                    </form>
                </div>
                <div class="sub-header-right">
                    <ul>
                        <li><a href="#">log in</a></li>
                        <li><a href="#">Your account</a></li>
                        <li><a href="#">CART: (EMPTY) <img src="../images/cart.png" title="cart" /></a></li>
                    </ul>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="clear"> </div>
            <div class="top-nav">
                <ul>
                    <li>@Html.ActionLink("Home", "Index")</li>
                    <li>@Html.ActionLink("Favourites", "favorites")</li>
                    <li>@Html.ActionLink("Artists", "artists")</li>
                    <li class="active1">@Html.ActionLink("Specials", "specials")</li>
                    <li>@Html.ActionLink("Recent-albums", "specials")</li>
                    <li> @Html.ActionLink("Feedback", "contact")</li>

                </ul>
                <div class="clear"> </div>
            </div>
            <!---end-top-header--->
            <!---End-header--->
        </div><br />
        <div class="content">
            <div class="products-box">
                <div class="products">
                    <h5><span>Our </span>Favourites</h5>
                    <div class="section group">
                        <div class="grid_1_of_5 images_1_of_5">
                            <img src="../images/h1.jpg">
                            <h3>Lorem Ipsum is simply </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
                            <h4>$512.00</h4>
                            <div class="button"><span> @Html.ActionLink("ReadMore", "singlepage")</span></div>
                        </div>
                        <div class="grid_1_of_5 images_1_of_5">
                            <img src="../images/h2.jpg">
                            <h3>Lorem Ipsum is simply </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
                            <h4>$300.00</h4>
                            <div class="button"><span>@Html.ActionLink("ReadMore", "singlepage")</span></div>
                        </div>
                        <div class="grid_1_of_5 images_1_of_5">
                            <img src="../images/h3.jpg">
                            <h3>Lorem Ipsum is simply </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
                            <h4>$120.00</h4>
                            <div class="button"><span>@Html.ActionLink("ReadMore", "singlepage")</span></div>
                        </div>
                        <div class="grid_1_of_5 images_1_of_5">
                            <img src="../images/h4.jpg">
                            <h3>Lorem Ipsum is simply </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
                            <h4>$500.00</h4>
                            <div class="button"><span>@Html.ActionLink("ReadMore", "singlepage")</span></div>
                        </div>
                        <div class="grid_1_of_5 images_1_of_5">
                            <img src="../images/h5.jpg">
                            <h3>Lorem Ipsum is simply</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
                            <h4>$120.00</h4>
                            <div class="button"><span>@Html.ActionLink("ReadMore", "singlepage")</span></div>
                        </div>
                    </div>
                </div>
                <div class="products products-secondbox">
                    <h5><span>Our</span> Specials</h5>
                    <div class="section group">
                        <div class="grid_1_of_5 images_1_of_5">
                            <img src="../images/h3.jpg">
                            <h3>Lorem Ipsum is simply </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
                            <h4><span>$600.00</span>$512.00</h4>
                            <div class="button"><span>@Html.ActionLink("ReadMore", "singlepage")</span></div>
                        </div>
                        <div class="grid_1_of_5 images_1_of_5">
                            <img src="../images/h2.jpg">
                            <h3>Lorem Ipsum is simply </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
                            <h4><span>$400.00</span>$352.00</h4>
                            <div class="button"><span>@Html.ActionLink("ReadMore", "singlepage")</span></div>
                        </div>
                        <div class="grid_1_of_5 images_1_of_5">
                            <img src="../images/g7.jpg">
                            <h3>Lorem Ipsum is simply </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
                            <h4><span>$300.00</span>$202.00</h4>
                            <div class="button"><span>@Html.ActionLink("ReadMore", "singlepage")</span></div>
                        </div>
                        <div class="grid_1_of_5 images_1_of_5">
                            <img src="../images/h1.jpg">
                            <h3>Lorem Ipsum is simply </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
                            <h4><span>$400.00</span>$322.00</h4>
                            <div class="button"><span>@Html.ActionLink("ReadMore", "singlepage")</span></div>
                        </div>
                        <div class="grid_1_of_5 images_1_of_5">
                            <img src="../images/h5.jpg">
                            <h3>Lorem Ipsum is simply</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
                            <h4><span>$700.00</span>$602.00</h4>
                            <div class="button"><span>@Html.ActionLink("ReadMore", "singlepage")</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <!---End-wrap--->
</body>

</html>
